* {
  padding: 0;
  margin: 0;
}

body {
  background-color: rgb(146, 135, 135);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.box {
  background-color: white;
  width: 300px;
  /* height: 400px; */
  padding: 60px;
  border-radius: 10px;
}

h1 {
  /* background-color: aqua; */
  text-align: center;
  margin-bottom: 10px;
  color: rgb(79 79 200);
}

label {
  display: block;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 5px;
}

input {
  display: block;
  width: 100%;
  height: 25px;
  font-size: 15px;
  padding-left: 10px;
  margin-bottom: 15px;
  border: 2px solid black;
  border-radius: 5px;
}

button {
  width: 100%;
  padding: 5px;
  margin-top: 10px;
  font-size: 20px;
  font-weight: 600;
  background-color: rgb(79 79 200);
  border: 1px solid rgb(79 79 200);
  border-radius: 5px;
  color: white;
}
