*{
    margin: 0;
    padding: 0;
}

body{
    background-color: black;
}

.container{
    display: flex;
    padding: 10px;
    background-color: aqua;
    gap: 5px;
}

.box{
    height: 105px;
    width: 100px;
}

.first{
    background-color: orange;
}

.container2{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.second{
    background-color: red;
    height: 50px;
    width: 100px;
}

.third{
    background-color: green;
    height: 50px;
    width: 100px;
}

