.container{
    height: 100vh;
    width: 100vw;
    position: relative;
}

.box{
    height: 100px;
    width: 100px;
    background-color: red;
    animation-name: moving;
    animation-duration: 4s;
    position: absolute;
    animation-iteration-count: 4;
}

@keyframes moving {
    from{
        top:10px;
        left: 10px;
        background-color: red;
    }
    to{
        top: 10px;
        left: 500px;
        background-color: yellow;
    }
    
}